{
    "myName": "",
    "ding": "",
    "markets": [
        {
            "spot": "ETH/USD",
            "futures": [
                "ETH-1225"
            ]
        },
        {
            "spot": "BTC/USD",
            "futures": [
                "BTC-1225"
            ]
        }
    ]
}